.pic-box {
    position: relative;

    .pic {
        width: 100%;
        height: 100%;
        display: block;
        img {
            width: 100%;
            height: 250px;
        }
    }
    .pic-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        transform: scale(0);
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        .btn-center {
            button {
                margin: 5px;
            }
        }
    }
    &:hover .pic-overlay {
        transform: scale(1);
    }
}
span.MuiButton-label a {
    color: #fff;
}
